body {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  padding-top: 5%;

  width: 90%;
  height: 60%;

  display: flex;
  flex-direction: column;
  justify-self: center;
}

.hero {
  font-size: 3.5em;
  padding: 1%;
}

.hero__subtitle {
  padding-left: 1%;
  font-size: 1.5em;
}

.cta-button {
  margin-top: 1.5%;
  height: 15%;
  width: 15%;

  background-image: linear-gradient(to bottom, var(--accent-color), var(--accent-color-gradient));
  color: white;
  border-style: none;
  border-radius: 8px;
  
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  padding-left: 1%;
}

.cta-button:hover {
  cursor: pointer;
  transform: scale(1.025);
}

h1, h2 {
  margin: 0px;
}