body {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  padding: 2.5% 0% 1% 10%;

  width: 90%;
  min-height: 90dvh;
  max-height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-self: center;

  gap: 10px;

  flex-shrink: 0;
}

.hero {
  font-size: 5em;
  padding: 1% 1% .5% 1%;
  max-width: 45dvw;
  height: 100%;

  font-family:'Fraunces', serif;
  color: var(--primary-color);
}

.hero > em {
  font-style: italic;
  color: var(--accent-color);
}

.hero__subtitle {
  padding-left: 1%;
  font-size: clamp(1em, 1dvw + 1em, 1.5em);
  color: var(--secondary-color);

  max-width: 40dvw;
  min-width: 35dvw;

  font-family:'Fraunces', serif;
}

.cta-btns {
  display: flex;
  flex-direction: row;
  gap: 20px;

  max-width: fit-content;
  padding-left: .5%;

  margin-top: 20px;
}

.cta-button {
  margin-top: 1.5%;
  height: 60px;
  min-height: 50px;
  width: 150px;

  background-image: linear-gradient(to bottom, var(--accent-color), var(--accent-color-gradient));
  color: var(--background-color);
  border-style: none;
  border-radius: 8px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 1.5%;

  font-size: 1.25em;
  font-weight: thick;

  margin-left: 1%;

  transition: var(--smooth-bgColor-transition);
  transition: var(--smooth-size-transition);
}

.cta-button:hover {
  cursor: pointer;
}

.secondary-cta-button {
  margin-top: 1.5%;
  height: 60px;
  min-height: 50px;
  width: 150px;

  background-color: rgba(0, 0, 0, 0.1);
  color: var(--secondary-color);
  border-style: solid;
  border-width: 2px;
  border-color: var(--card-color);
  border-radius: 8px;

  padding: 1.5%;

  font-size: 1.25em;
  font-weight: thick;

  margin-left: 1%;

  transition: var(--smooth-bgColor-transition);
  transition: border-color 0.25s ease;
}

.secondary-cta-button:hover {
  cursor: pointer;
  background-color: var(--card-color);
  border-color: var(--secondary-color);
  transition: border-color 0.25s ease;
}

.about-container {
  padding-left: 5%;
  min-height: 250px;
  flex-shrink: 1;

  display: flex;
  flex-direction: column;
  justify-self: flex-end;

  flex-shrink: 0;
}

.about-heading {
  font-size: 2em;
  font-weight: bold;
  color: var(--heading-color);
}

.about-text {
  max-width: 90dvw;
}

h1,
h2 {
  margin: 0px;
}

.instructions {
  padding: 1% 0% 1% 0%;
  min-width: 100dvw;
  min-height: 5dvh;
  text-align: center;
  font-size: clamp(1.7em, 4dvw + 2em, 2em);
}

.quiz-container {
  padding: 5% 0% 5% 0%;

  min-width: 100dvw;

  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;

  overflow-x: auto;
}

.quiz-card {
  display: flex;
  flex-direction: column;

  min-height: 350px;
  min-width: 300px;

  max-height: 30dvh;
  max-width: 300px;

  background-color: var(--card-color);
  border-radius: 24px;

  transition: var(--smooth-size-transition);
}

.quiz-card:hover {
  transform: scale(1.05);
  transition: var(--smooth-size-transition);
}

.quiz-card__title {
  padding: 12% 12% 5% 12%;
  text-align: center;
  font-size: 1.5em;
  font-size: clamp(1em, 4vw + 1.5em, 1.5em);
  color: var(--secondary-color);
  text-decoration: underline;
}

.quiz-card__text {
  padding: 0% 15% 0% 15%;
  text-align: center;
  color: var(--subtitle-color);
}

.quiz-card__button {
  width: 75%;
  height: 20%;
  align-self: center;
  border-radius: 24px;
  background-color: var(--accent-color);
  cursor: pointer;

  color: var(--background-color);
  font-size: medium;

  margin-top: 30%;

  border-style: None;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

  transition: var(--smooth-bgColor-transition);
  transition: var(--smooth-size-transition);
}

.quiz-card__button:hover {
  background-color: var(--accent-color-selected);
  transition: var(--smooth-bgColor-transition);
  transition: var(--smooth-size-transition);
}

/* ENDLESS MODE */

.endless-content {
  min-width: 100dvw;
  padding: 5% 0% 5% 0%;
  display: flex;
  flex-direction: column;
}

.endless-container {
  align-self: center;

  padding: 2.5% 0% 2.5% 0%;

  min-height: 70dvh;
  max-height: 600px;

  width: 60dvw;
  min-width: 700px;

  margin: 0% 2.5% 0% 2.5%;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  column-gap: 60px;
  row-gap: clamp(.5%, 1%, 1%);

  justify-items: center;
}

.endless-card {
  padding: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-color);

  height: 150px;
  width: 350px;

  min-width: 300px;

  border-radius: 24px;
}

.endless-card__name {
  padding: 5% 5% 2.5% 5%;
  text-decoration: underline;
}

.endless-card__text {
  padding: 0% 5% 2.5% 5%;
  text-align: center;
  color: var(--subtitle-color);
}

.endless-card__button {
  margin-top: 10px;
  padding: 4%;
  border-radius: 40px;
  border-style: none;
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.leaderboard-heading {
  padding: 1% 0% 0% 5%;
}

.leaderboard-container {
  padding: 2.5% 2.5% 2.5% 2.5%;

  align-self: center;
  min-height: 90%;
  min-width: 90dvw;
  max-width: 90dvw;
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.leaderboard-entry {
  background-color: var(--card-color);
  border-radius: 50px;
  min-height: 90px;
  min-width: 420px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leaderboard__position {
  justify-self: flex-start;
  padding: 0px 20px 0px 30px;
  font-size: 2.5em;
}

.leaderboard__pfp {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.21);
  margin: 0px 30px 0px 10px;
}

.leaderboard__username {
  font-size: 1.75em;
  color: var(--secondary-color);
}

.leaderboard__points {
  margin-left: auto;
  margin-right: 2.5%;
  color: var(--accent-color);
}

.library-options-container {
  width: 80dvw;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 80px;

  justify-content: center;
  padding-bottom: 2%;
}

.library-option-card {
  margin-top: 2%;

  border-radius: 24px;

  width: 400px;
  height: 450px;

  background-color: var(--card-color);

  display: flex;
  flex-direction: column;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.library-option-card:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.library-card__text {
  font-size: 2em;
  text-align: center;
  margin-top: auto;
  margin-bottom: 10%;
  color: var(--accent-color);
  text-decoration: underline;
}

.signup-container,
.login-container {
  margin: 0% 0% 5% 0%;
  min-width: 500px;
  width: 90dvw;
  max-height: 80%;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: fit-content;

  align-self: center;
}

.signup-form,
.login-form {

  border-radius: 24px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.21);

  min-width: 30%;
  min-height: fit-content;

  display: flex;
  flex-direction: column;
  padding: 2.5%;

  background-color: var(--card-color);

  gap: 5%;
}

.form-block {
  display: flex;
  flex-direction: column;
  gap: 2%;

  color: var(--secondary-color);
}

.form-block > input::placeholder {
  color: var(--secondary-color);
  opacity: 50%;
}


label {
  font-size: 1.15em;
  color: var(--secondary-color);
  padding-bottom: 1%;
}

#username-entry,
#password-entry,
#email-entry {

  border-style: none;
  border-radius: 12px;
  outline: none;

  min-height: 30px;

  padding: 8px;
  background-color: var(--background-color);

  color: var(--secondary-color);
}

.submit-btn {
  margin-top: 5%;
  padding: 5%;
  border-radius: 12px;
  border-style: none;
  background-color: var(--accent-color);

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.21);
  font-size: 1.25em;

  color: white;

  transition: var(--smooth-bgColor-transition);
}

.submit-btn:hover {
  /*transform: scale(1.025);*/
  transition: var(--smooth-bgColor-transition);
  background-color: var(--accent-color-selected);
  cursor: pointer;
}

.signup-prompt,
.login-prompt {
  text-align: center;
  font-size: 2.5em;
  color: var(--primary-color);
  padding: 0% 0% 2.5% 0%;
}

.signup-prompt > em,
.login-prompt > em {
  color: var(--accent-color);
  font-style: normal;
}

.signup-redirect {
  color: var(--secondary-color);
}

.signup-redirect, .signup-redirect > a {
  text-align: center;
}

.signup-redirect > a {
  color: var(--accent-color);
}

.signup-redirect > a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: bold;
}

.quizpage-content {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
}

.quiz-text {
  text-align: center;
  padding: 2.5% 0% 2.5% 0%;
  color: var(--secondary-color);
}

.quiz-img-container {
  min-height: 225px;
  min-width: 225px;

  max-height: 260px;
  max-width: 260px;
  background-color: aliceblue;

  align-self: center;
  background-color: var(--card-color);

  border-radius: 14px;
}

.quiz-img-container > * {
  min-height: 225px;
  min-width: 225px;

  max-height: 260px;
  max-width: 260px;

  color: black;
}

.quiz-img-container:hover {
  cursor: pointer;
}

.quiz-options-container {

  margin-top: 50px;
  margin-bottom: 50px;

  align-self: center;
  width: 80%;
  height: 175px;

  justify-self: flex-end;
  
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  grid-template-rows: repeat(2, 5fr);
  justify-items: center;

  gap: 10px;
  column-gap: 5px;
}

.quiz-option-btn {
  border-radius: 24px;
  background-color: var(--card-color);
  border-style: solid;
  min-width: 90%;
  font-size: 1.9em;
  color: var(--secondary-color);
  cursor: pointer;
  transform: var(--smooth-bgColor-transition);
}

.quiz-option-btn:hover {
  background-color: var(--heading-color);
  transform: var(--smooth-bgColor-transition);
  transform: scale(1.025);
}

.quiz-completion-text {
  text-align: center;
  padding: 5% 0% 1% 0%;
  font-size: 2em;
  color: var(--primary-color);
}

.quiz-completion-subtitle {
  text-align: center;
  padding: 0% 0% 2.5% 0%;
  color: var(--subtitle-color);
}

.quiz-complete-btns-container {

  align-self: center;
  height: 30dvh;

  display: flex;
  width: 50%;
  gap: 70px;
  justify-content: center;
  align-content: center;
}

.quiz-score-text {
  text-align: center;
  color: var(--secondary-color);
}

.quiz-retry-btn, .quiz-return-btn {
  height: 70px;
  width: 200px;

  padding: 1%;

  align-self: center;
  border-radius: 24px;
  background-color: var(--accent-color);
  font-size: 1.25em;
  color: white;
  border-style: solid;

  cursor: pointer;
}