body {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 1%;

  width: 90%;
  height: 65dvh;

  display: flex;
  flex-direction: column;
  justify-self: center;

  gap: 10px;
}

.hero {
  font-size: 3.5em;
  padding: 1%;
  max-width: 45dvw;
}

.hero__subtitle {
  padding-left: 1%;
  font-size: 1.5em;
  color: rgba(234, 214, 227, .55);
  max-width: 35dvw;
}

.cta-button {
  margin-top: 1.5%;
  height: 150px;
  width: 150px;

  background-color: var(--accent-color);
  color: white;
  border-style: none;
  border-radius: 8px;
  
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 1.5%;

  font-size: 1.25em;
  font-weight: thick;
}

.cta-button:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.about-container {
  padding-left: 5%;
  min-height: 250px;
}

.about-heading {
  font-size: 2em;
  font-weight: bold;
  color: var(--heading-color)
}

.about-text {
  max-width: 90dvw;
}

h1, h2 {
  margin: 0px;
}