:root {
  --background-color : #693556;
  --primary-color : #CF68AA;
  --secondary-color : #EAD6E3;
  --header-color : #4F2841;

  --subtitle-color : rgba(234, 214, 227, .55);

  --accent-color : #57C780;
  --accent-color-gradient : #1A783C;

  --card-color : rgba(0, 0, 0, .15);

    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

html {
  overflow-y: scroll;
}

* {
  margin: 0;
}

h1 {
  color: var(--secondary-color);
  font-size: clamp(1em, 1.5em, 1.5em);
}

h2, .nav-links > a {
  color: var(--secondary-color);
}

p {
  font-size: clamp(.5em, 2vw + .5em, 1em);
}

body {
  margin: 0;
  padding: 0px;
  min-height: 100dvh;
  scrollbar-width: none;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

body::-webkit-scrollbar {
  display: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;

  background-color: var(--header-color);

  display: flex;
  flex-direction: row;
  min-height: 75px;
  max-height: 15dvh;
  width: 100%;

  align-items: center;

  padding: 0% 0% 0% 0%;

  overflow-y: hidden;
  overflow-x: hidden;
}

.nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0% 5% 0% 1%;
}

.header-title {
  padding: 2% 25% 2% 10%;
  font-size: 2.5em;
  font-weight: bolder;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 7%;
  padding-right: 2%;
  justify-content: right;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
}

.nav-links > a:hover,
.signup-button:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.header-title:hover,
.footer-links:hover {
  cursor: pointer;
}

.signup-button {
  background-image: linear-gradient(to bottom, var(--accent-color), var(--accent-color-gradient));
  color: white;
  padding: 1.5%;
  min-height: 35px;
  min-width: 70px;
  border-style: none;
  border-radius: 8px;
}

.user-pfp__header {
  color: var(--card-color);
  border-radius: 50%;
  align-self: center;
}

.user-pfp__header:hover {
  cursor: pointer;
}

.content-container {
  padding: 2.5% 0% 5% 0%;
  background-color: var(--background-color);
  min-height: max-content + 5dvh;
  width: 100%;

  display: flex;
  flex-direction: column;

  background-image: linear-gradient(var(--background-color), var(--primary-color));
}

hr {

  margin: 2% 0% 10% 0%;

  max-width: 90dvw;
  border-style: solid;
  border-color: var(--header-color);
}

footer {

  width: 100%;
  height: 20dvh;

  background-color: var(--header-color);
  display: flex;
  flex-direction: column;
  padding-top: 2%;
}

.footer-links {
  list-style: none;

  display: flex;
  flex-direction: row;
  gap: 7.5%;
  justify-content: center;
}

.copyright {
  text-align: center;
}

button:hover {
  transform: scale(1.025);
}